/target/*
/rust/joinstr/Cargo.lock
/rust/simple_nostr_client/Cargo.lock
/rust/simple_electrum_client/Cargo.lock
/rust/joinstr_wallet/include
Cargo.lock

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
